$header_height: 40px;
$header_padding : 3px;
$header_background_color : crimson;
$header_button_radius : 3px;
$header_margin : 4px;

.App {
  text-align: left;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.App-header {
  background-color: #222;
  height: $header_height;
  color: white;
}

.App-header_img-frame {
  display:inline-block;
  margin: $header_margin;
  text-align: center;
}

.App-logo {
  //animation: App-logo-spin infinite 20s linear;
  height: $header_height + $header_padding;
}

.App-header_buttons {
  display:inline-block;
  border-radius: $header_button_radius;
  background: $header_background_color;
  padding: $header_padding;
  margin: $header_margin;
  width: 80px;
  height: $header_height - $header_button_radius - $header_padding;
  color: black;
  text-decoration: none;
  text-align: center;
  font-size: $header_height - $header_button_radius - $header_padding;
}
.App-header_buttons:hover {
  background: lighten($header_background_color, 50%);
}

.App-header_fix {
  height: 100%;
  display:inline-block;
}