// ------------------------------------------
// --------------- NewsPreview --------------
// ------------------------------------------

// --------------------------
// --------- Header ---------
// --------------------------

.news_preview_title {
  vertical-align: middle;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-left: 30px;
}

.news_preview_title > a {
  overflow: hidden;
  text-overflow: ellipsis;
  color: black;
}

.news_preview_title :hover {
  color: #008cba;
  text-decoration: none;
}


// ------------------------------------------
// ------------------ News ------------------
// ------------------------------------------

// --------------------------
// --------- Header ---------
// --------------------------

.page_header_info {
  background-color: rgba(238, 238, 238, 0.5);
  padding: 10px;
  font-size: 13px;
}

.img_container > img {
  border: 0;
  border-radius: 3px;
  width: 24px;
  height: 24px;
}

.username {
  margin-left: 8px;
}

time {
  font-size: 13px;
  color: #5f5f5f;
  margin-left: 8px;
}

.page_header {
  padding-bottom: 0;
  border-bottom: 1px solid #dddddd;
  width: 100%;
  text-align: center;

  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
  text-overflow: ellipsis;
}

// ----------------------------
// --------- Content ----------
// ----------------------------

#wrapper {
  background-color: rgba(238, 238, 238, 0.35);
  margin-top: 20px;
  margin-bottom: 20px;
}

// ----------------------------
// --------- Comments ---------
// ----------------------------

.comment {
  list-style: none;
  margin-top: 20px;
  padding-left: 20px;
}

.comment_head {
  margin-bottom: 10px;
  padding-right: 15px;
}

.comment_children {
  border-left: solid 1px rgba(51, 51, 51, 0.5);
}


// --------------------------
// --------- Footer ---------
// --------------------------

.news_footer {
  padding: 10px 15px;
  background-color: rgba(238, 238, 238, 0.5);
  //border-top: 1px solid #dddddd;
  //border-bottom: 1px solid #dddddd;
}

.news_footer_comments {
  font-size: 28px;
  font-weight: lighter;
}

.news_footer_comments > span {
  font-weight: bolder;
  color: #008cba
}

.news_footer > .my_button {
  margin: 6.5px;
}

// -------------------------------------------
// ------------------ Extra ------------------
// -------------------------------------------

.my_text {
  word-wrap: break-word;
  overflow-wrap: break-word;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
}


// ------------------ Button ------------------

$button_color: #aca7b9;
$button_color_hover: #79797e;

%my_button, .my_button {
  font-family: "Raleway","Helvetica Neue",Helvetica,Arial,sans-serif;
  border: 1px solid $button_color;
  display: inline-block;
  padding: 2px 5px;
  border-radius: 5px;
  margin-left: 10px;
  font-size: 15px;
  color: $button_color;
  cursor: pointer;
  background-color: rgba(0,0,0,0);
}

%my_button_hover, .my_button:hover {
  text-decoration: none; /* Убираем подчеркивание */
  color: $button_color_hover; /* Цвет ссылки при наведении на нее курсора мыши */
  border-color: $button_color_hover;
  background-color: rgba(0,0,0,0);
}

%my_button_first-child, .my_button :first-child {
  top: 2px;
}

%my_button_last-child, .my_button :last-child {
  margin-left: 5px;
  padding-left: 5px;
  border-left: 1px solid $button_color;
}

%my_button_last-child_hover, .my_button :last-child:hover {
  border-left: 1px solid $button_color_hover;
}

// ------------ Loop Button ------------

$loop_button_color_active: #008cba;
$loop_button_color_hover: #00b5a6;

.loop_button {
  @extend %my_button;
}

.loop_button:hover { // loop starts circling
  @extend %my_button_hover;
  border-color: $loop_button_color_hover;
  color: $loop_button_color_hover;
}

.loop_button :first-child {
  @extend %my_button_first-child;
}

.loop_button :last-child {
  @extend %my_button_last-child;
}

.loop_button :last-child:hover {
  @extend %my_button_last-child_hover;
  border-left: 1px solid $loop_button_color_hover;
}


.loop_button_active {
  @extend %my_button;
  border-color: $loop_button_color_active;
  color: $loop_button_color_active;
}

.loop_button_active:hover {
  @extend %my_button_hover;
  border-color: $loop_button_color_hover;
  color: $loop_button_color_hover;
}

.loop_button_active :last-child {
  @extend %my_button_last-child;
  border-left: 1px solid $loop_button_color_active;
}

.loop_button_active :first-child {
  @extend %my_button_first-child;
}

.loop_button_active :last-child:hover {
  @extend %my_button_last-child_hover;
  border-left: 1px solid $loop_button_color_hover;
}

// ------------ Poop Button ------------

$poop_button_color_active: #5b2e22;
$poop_button_color_hover: #b56447;

.poop_button {
  @extend %my_button;
}

.poop_button:hover { // trash can opens (find new glyphicon)
  @extend %my_button_hover;
  border-color: $poop_button_color_hover;
  color: $poop_button_color_hover;
}

.poop_button :first-child {
  @extend %my_button_first-child;
}

.poop_button :last-child {
  @extend %my_button_last-child;
}

.poop_button :last-child:hover {
  @extend %my_button_last-child_hover;
  border-left: 1px solid $poop_button_color_hover;
}


.poop_button_active {
  @extend %my_button;
  border-color: $poop_button_color_active;
  color: $poop_button_color_active;
}

.poop_button_active:hover { // trash can opens (find new glyphicon)
  @extend %my_button_hover;
  border-color: $poop_button_color_hover;
  color: $poop_button_color_hover;
}

.poop_button_active :first-child {
  @extend %my_button_first-child;
}

.poop_button_active :last-child {
  @extend %my_button_last-child;
  border-left: 1px solid $poop_button_color_active;
}

.poop_button_active :last-child:hover {
  @extend %my_button_last-child_hover;
  border-left: 1px solid $poop_button_color_hover;
}

// ------------ Comment Button ------------

$comment_button_color_active: #5c5c60;
$comment_button_color_hover: #97979c;

.comment_button {
  @extend %my_button;
}

.comment_button:hover { // trash can opens (find new glyphicon)
  @extend %my_button_hover;
  border-color: $comment_button_color_hover;
  color: $comment_button_color_hover;
}

.comment_button :first-child {
  @extend %my_button_first-child;
}

.comment_button :last-child {
  @extend %my_button_last-child;
}

.comment_button :last-child:hover {
  @extend %my_button_last-child_hover;
  border-left: 1px solid $comment_button_color_hover;
}


.comment_button_active {
  @extend %my_button;
  border-color: $comment_button_color_active;
  color: $comment_button_color_active;
}

.comment_button_active:hover { // trash can opens (find new glyphicon)
  @extend %my_button_hover;
  border-color: $comment_button_color_hover;
  color: $comment_button_color_hover;
}

.comment_button_active :first-child {
  @extend %my_button_first-child;
}

.comment_button_active :last-child {
  @extend %my_button_last-child;
  border-left: 1px solid $comment_button_color_active;
}

.comment_button_active :last-child:hover {
  @extend %my_button_last-child_hover;
  border-left: 1px solid $comment_button_color_hover;
}




.my_date {
  font-style: italic;
  padding: 4px;
}