// ------------------------------------------
// --------------- NewsPreview --------------
// ------------------------------------------

// --------------------------
// --------- Header ---------
// --------------------------

.news_preview_title {
  vertical-align: middle;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-left: 15px;
}

.news_preview_title > a {
  color: #222222;
}

.news_preview_title :hover {
  color: #008cba;
  text-decoration: none;
}


// ------------------------------------------
// ------------------ News ------------------
// ------------------------------------------

// --------------------------
// --------- Header ---------
// --------------------------

.page_header_info {
  background-color: #f5f5f5;
  padding: 10px;
  font-size: 13px;
}

.page_header_info_img_container > img {
  border: 0;
  border-radius: 3px;
  width: 18px;
  height: 18px;
}

.page_header_info_username {
  margin-left: 8px;
}

.page_header {
  padding-bottom: 0;
  border-bottom: 1px solid #dddddd;
  width: 100%;
  text-align: center;

  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
  text-overflow: ellipsis;
}


// ----------------------------
// --------- Comments ---------
// ----------------------------

.comment {
  list-style: none;
  margin-top: 20px;
  padding-left: 20px;
}

.comment_head {
  margin-bottom: 8px;
}

.comment_children {
  border-left: solid 1px #efefef;;
}

time {
  font-size: 13px;
  color: #5f5f5f;
  margin-left: 8px;
}

.comment_img_container > img {
  border: 0;
  border-radius: 3px;
  width: 24px;
  height: 24px;
}

.comment_username {
  margin-left: 8px;
}


// --------------------------
// --------- Footer ---------
// --------------------------

.news_footer {
  padding: 10px 15px;
  background-color: #f5f5f5;
  //border-top: 1px solid #dddddd;
  //border-bottom: 1px solid #dddddd;
}

.news_footer_comments {
  font-size: 28px;
  font-weight: lighter;
}

.news_footer_comments > span {
  font-weight: bolder;
  color: #008cba
}

.news_footer > .my_button {
  margin: 6.5px;
}

// -------------------------------------------
// ------------------ Extra ------------------
// -------------------------------------------

.my_text {
  word-wrap: break-word;
  overflow-wrap: break-word;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
}

.my_button {
  font-family: "Raleway","Helvetica Neue",Helvetica,Arial,sans-serif;
  border: 1px solid #4582ec;
  display: inline-block;
  padding: 2px 5px;
  border-radius: 5px;
  margin-left: 10px;
  font-size: 15px;
}

.my_button :last-child {
  margin-left: 5px;
  padding-left: 5px;
  border-left: 1px solid #4582ec;
}

.my_button :last-child:hover {
  border-left: 1px solid #3857c0;
}

.my_button:hover {
  text-decoration: none; /* Убираем подчеркивание */
  color: #3857c0; /* Цвет ссылки при наведении на нее курсора мыши */
  border-color: #3857c0;
}

.my_date {
  font-style: italic;
  padding: 4px;
}